{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Salut Bienvenu à CloudAfrica!  ✅</h1>
    {{ form_start(form) }}
		    <div class="row">
		    	<div class="col-md-4">{{ form_row(form.prenomAgent) }}</div>
		    	<div class="col-md-4">{{ form_row(form.nomAgent) }}</div>	
		    </div>
		    <div class="row">
		    	<div class="col-md-4">{{ form_row(form.adresseAgent) }}</div>
		    	<div class="col-md-4">{{ form_row(form.telephone) }}</div>	
		    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary"> valider</button>
    {{ form_end(form) }}
</div>
{% endblock %}