{% extends 'base.html.twig' %}

{% block title %}espace Locataire!{% endblock %}

{% block body %}
<div class="container">
  <h2>Striped Rows</h2>
  {% for l in locataire %}
  <p>Liste des agents:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Nationalité</th>
        <th>Téléphone</th>
        <th>Pièces Fournis</th>
        <th>Type Locataire</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>{{l.prenomLocataire}}</td>
        <td>{{l.nomLocataire}}</td>
        <td>{{l.nationalite}}</td>
        <td>{{l.telephone}}</td>
        <td>{{l.piecesFournis}}</td>
        <td>{{l.typeLocataire}}</td>
      </tr>

    </tbody>
  </table>

  {% endfor %}
</div>
{% endblock %}
